body {
    background: url('(https://user-images.githubusercontent.com/114609247/198891401-6075f185-f732-4d38-a600-b6aecd3a7d47.jpg');
}
#form-registration {
    height: auto;
    width: 650px;
    background-color: rgb(148, 141, 143);
    padding: 8px;
    margin: 30px auto;
    border: 2px solid rgb(129, 125, 125);
    box-shadow: 2px 2px 2px 2px;
    border-radius: 20px;

}
